<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<h2>Welcome {{user.name}}</h2><br>	
		</div>
		<table class="table table-hover table bordered">
			<thead>
				<tr>
					<th>S.No.</th>
					<th>Name</th>
					<th>Contact</th>
					<th></th>
				</tr>
			</thead>
			<tbody ng-repeat="x in user.contact">
				<tr>
					<td>{{index+1}}</td>
					<td>{{x.name}}</td>
					<td>{{x.phone}}</td>
					<td><a class="btn btn-danger" ng-click="remove(x)">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
			$scope.remove=function(item){ 
            var index=$scope.contact.indexOf(item)
            $scope.contact.splice(index,1);
</script>